ul.green-tick-list li {background-image:url(images/bullets/green-tick.png);background-position:0 4px;background-repeat:no-repeat;padding:4px 0 4px 25px;}
.list-one-column{float:left;padding:0 4% 0 0;width:96%;margin-bottom:20px;}
.list-two-columns{float:left;padding:0 4% 0 0;width:46%;margin-bottom:20px;}
.list-three-columns{float:left;padding:0 4% 0 0;width:29%;margin-bottom:20px;}
.list-four-columns{float:left;padding:0 2% 0 0;width:23%;margin-bottom:20px;}

.blue-arrow-list li {background:url(images/bullets/1.png) no-repeat 0 4px transparent;padding:4px 0 4px 25px;}
.orange-bullet-list li {background:url(images/bullets/2.png) no-repeat 0 4px transparent;padding:4px 0 4px 25px;}
.blue-bullet-list li {background:url(images/bullets/3.png) no-repeat 0 4px transparent;padding:4px 0 4px 25px;}
.red-bullet-list li {background:url(images/bullets/4.png) no-repeat 0 4px transparent;padding:4px 0 4px 25px;}
.star-bullet-list li {background:url(images/bullets/5.png) no-repeat 0 4px transparent;padding:4px 0 4px 25px;}
.plus-bullet-list li {background:url(images/bullets/6.png) no-repeat 0 4px transparent;padding:4px 0 4px 25px;}
.blue-tick-list li {background:url(images/bullets/7.png) no-repeat 0 4px transparent;padding:4px 0 4px 25px;}
.grey-arrow-list li {background:url(images/bullets/8.gif) no-repeat 0 4px transparent;padding:4px 0 4px 25px;}
.double-arrow-list li {background:url(images/bullets/9.gif) no-repeat 0 4px transparent;padding:4px 0 4px 25px;}
.grey-arrow-list2 li {background:url(images/bullets/10.gif) no-repeat 0 4px transparent;padding:4px 0 4px 25px;}
.thin-arrow-list li {background:url(images/bullets/11.png) no-repeat 0 4px transparent;padding:4px 0 4px 25px;}
.blue-arrow-list li {background:url(images/bullets/12.png) no-repeat 0 4px transparent;padding:4px 0 4px 25px;}
.silver-arrow-list2 li {background:url(images/bullets/13.png) no-repeat 0 4px transparent;padding:4px 0 4px 25px;}
.silver-arrow-list3 li {background:url(images/bullets/14.png) no-repeat 0 4px transparent;padding:4px 0 4px 25px;}

ul.orange-list li {background:url(images/bullets/orange-list.png) no-repeat 0 10px transparent;padding:5px 0 5px 20px;}
ul.green-list li {background:url(images/bullets/green-list.png) no-repeat 0 10px transparent;padding:5px 0 5px 20px;}
ul.red-list li {background:url(images/bullets/red-list.png) no-repeat 0 8px transparent;padding:4px 0 4px 20px;}
ul.green-arrow-list li {background:url(images/bullets/green-arrow-list.png) no-repeat 4px 8px transparent;padding:4px 0 4px 20px;}
ul.silver-arrow-list li {background:url(images/bullets/silver-arrow-list.png) no-repeat 0 4px transparent;padding:5px 0 5px 30px;}

a.arrow-link {background:url(images/bullets/li-arrow.png) no-repeat scroll right 5px transparent;font-weight:bold;padding-right:9px;text-decoration:none;}
a.arrow-link-green {background:url(images/bullets/li-arrow-green.png) no-repeat scroll right 5px transparent;font-weight:bold;padding-right:9px;text-decoration:none;color: #a4c00b;}