.ui-bubblebox-list {
  padding: 0;
  margin: 10px 0;
}

.ui-bubblebox-item {
  /*border-color: -moz-use-text-color -moz-use-text-color #e1e1e1;
  border-style: none none dotted;
  border-width: medium medium 1px;*/
  margin: 5px 0;
  position: relative;
  color:#5A5A5A;
  padding: 7px 0 7px 35px !important;
  background: url("/static/images/check.png") no-repeat scroll 5px center transparent !important;
}

.ui-bubblebox-item span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-bubblebox-item:hover{
  background-color:#C3D7F4 !important;
  color:#222;
}

.ui-bubblebox-removeItem {
  font-size:12px;
  font-weight:bold;
  cursor:pointer;
  color: #bbb;
  position: absolute;
  right: 5px;
  top: 5px;
}

.ui-bubblebox-removeItem:hover {
  color:#ff0000;
}
