.ui-bubblebox-list {
  padding: 0;
  margin: 10px 0;
}

.ui-bubblebox-item {
  border-color: -moz-use-text-color -moz-use-text-color #d4d4d4;
  border-style: none none dotted;
  border-width: medium medium 1px;
  padding: 5px 15px 5px 5px;
  margin: 5px 0;
  position: relative;
  font-size: 11px;
}

.ui-bubblebox-item span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-bubblebox-removeItem {
  font-size:12px;
  font-weight:bold;
  cursor:pointer;
  color: #bbb;
  position: absolute;
  right: 5px;
  top: 5px;
}

.ui-bubblebox-removeItem:hover {
  color:#ff0000;
}
