#navigation { width: 950px; top: 66px; position: absolute; z-index: 10; }

#navigation a.sexyslider-prev { width: 25px; height: 229px; margin: 0 0 0 -26px; padding: 0; text-indent: -5000px; background: url(../images/btn-previous-1.png) 0 0 no-repeat; float: left; }

#navigation a.sexyslider-prev:hover { background-position: -25px 0; }

#navigation a.sexyslider-prev:active { background-position: -50px 0; }

#navigation a.sexyslider-next { width: 25px; height: 229px; margin: 0 -26px 0 0; padding: 0; text-indent: -5000px; background: url(../images/btn-next-1.png) -50px 0 no-repeat; float: right; }

#navigation a.sexyslider-next:hover { background-position: -25px 0; }

#navigation a.sexyslider-next:active { background-position: 0 0; }

.sexyslider-title { width: auto !important; max-width: 900px; margin: 0 25px 23px 25px; padding: 15px 20px 12px 20px; background-color: #000; z-index: 30 !important; position: absolute; }

.sexyslider-title a { font-size: 18px; color: #fff; text-decoration: none; display: block; margin: 0 0 7px 0; }

.sexyslider-title a:hover { color: #ec9b00; text-decoration: none; }

.sexyslider-title p { max-width: 600px; color: #b9b9b9; }


#control { width: 159px; height: 32px; padding: 7px 0 0 55px; margin: 336px 0 0 365px; position: absolute; background: url(../images/homepage-slider-control-bg.png) 0 0 no-repeat; z-index: 30; }

#control a { width: 14px; height: 14px; margin: 0 4px; text-indent: -5000px; background: url(../images/homepage-slider-control-item-ico.png) 0 0 no-repeat; text-decoration: none; float: left; }

#control a:hover { background-position: 0 -14px; }

#control a.active { background-position: 0 -28px; }

#control span { display: none; }