<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1251"/>
        <title>Kochster | {%block title%}{%endblock%}</title>
        <link href="/static/css/reset.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="/static/js/jgrowl/jquery.jgrowl.css">
        <link rel="stylesheet" href="/static/js/tiptip/tipTip.css">
        {% block css %}{% endblock %}
        <script type="text/javascript" src="/static/js/jquery-1.6.1.min.js"></script>
        <script type="text/javascript" src="/static/js/scrolltop/scrolltopcontrol.js"></script>
        <script type="text/javascript" src="/static/js/jquery.simplemodal.1.4.1.min.js"></script>
        {% block js %}{% endblock %}
        <script src="/static/js/jgrowl/jquery.jgrowl_minimized.js" type="text/javascript"></script>
        <script src="/static/js/tiptip/jquery.tipTip.minified.js" type="text/javascript"></script>
        <script type="text/javascript" src="/static/js/custom.js"></script>
        
    </head>
    <body>
        <div class="full-top">
            <div class="wrapper-top">{% include 'top_menu.html'%}</div>    
        </div><!-- / full-top-->
        <div class="header-bottom"></div>
        <!-- MAIN WRAPPER -->
        <div class="wrapper">
            <!-- MAIN CONTENT -->
            <!-- CONTENT BLOCK -->
            {% block content %}{%endblock%}
            <!-- END CONTENT BLOCK -->
            <!-- END MAIN CONTENT -->
            <!-- TWITTER -->
            <div class="clear"></div> 
        </div>
        <!-- END MAIN WRAPPER -->
        <div class="separator"></div>
        <div class="full-footer-bottom">
            <div class="wrapper-footer">
                <div class="one notopmargin">
                    <p class="margin15 left">© Copyright 2011 Kochster. Developed by <a class="link" href="http://tmeister.net" target="_blank">Tmeister</a></p>
                    <!--<p class="right margin15">
                        <a class="link" href="/">Home</a> / 
                        <a class="link" href="/">About</a> / 
                        <a class="link" href="/">Contact &amp; Support</a>
                    </p>-->
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-25793857-1']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>


