{% extends 'right_bar.html' %}
{% block title %}{{koch.title}}{%endblock%}

{% block left_content %}
	<h1 class="welcome nobottommargin left">{{koch.title}}</h1>
	<h4 class="clear colored">{{koch.notes}}</h4>
	<div class="separator margin15"></div>
	<div class="one-fourth left sidebar notopmargin">
		<h3 class="">Ingredients</h3>
		<div class="separator margin15"></div>
		<ul class="list check-list">
			{% for ingredient in ingredients %}
				<li>{{ingredient.value}}</li>
				<li class="dot-sep"></li>
			{% endfor %}
		<ul>
  		<div class="margin15 blog-icons">
            <div class="small-round-icon-gray left">
                <div class="icon-gray-small icon100-gray">
                	<a href="index.html"><img src="/static/images/1px.png" alt="" width="24px" height="24px" /></a>
                </div>
            </div>
            <div class="small-round-icon-gray left">
                <div class="icon-gray-small icon114-gray">
                	<a href="index.html"><img src="/static/images/1px.png" alt="" width="24px" height="24px" /></a>
                </div>
            </div>
            <div class="small-round-icon-gray left">
                <div class="icon-gray-small icon96-gray">
                	<a href="index.html"><img src="/static/images/1px.png" alt="" width="24px" height="24px" /></a>
                </div>
            </div>
            <div class="small-round-icon-gray nobottommargin left">
                <div class="icon-gray-small icon108-gray">
                	<a href="index.html"><img src="/static/images/1px.png" alt="" width="24px" height="24px" /></a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
	</div>
	<div class="one-half last notopmargin">
		<h3 class="">Directions</h3>
		<div class="separator margin15"></div>
		{% if image %}
       		<img class="bordered-img img-preview"  src="/image/?img_id={{koch.key}}" alt=" "/>
        {% else %}
        	<img class="bordered-img img-preview default"  src="/static/images/default.png" />
    	{% endif %}
		<div class="separator margin15"></div>
		<div id="" class="">
			{% for direction in directions %}
				<div class="small-round-icon-gray left">
					<div class="icon-gray-small icon209-gray"></div>
				</div>
				<p style="margin-left:45px; text-align:justify; min-height:30px;">{{direction.value}}</p>
			{% endfor %}	
		</div>
	</div>
	<div class="clear"></div>
	<div class="separator margin15"></div>
	<div class="three-fourth notopmargin">
		<h3>Comments</h3>
	</div>

{% endblock %}
{% block side_content %}
	<div class="one-fourth notopmargin sidebar-right last">
		{% include 'sidebar.html' %}
	</div>
{% endblock %}