{% extends 'right_bar.html' %}
{% block title %}{{koch.title}}{%endblock%}

{% block left_content %}
	<h1 class="welcome nobottommargin left">{{koch.title}}</h1>
	{% if koch.notes|length %}
		<h4 class="clear colored">{{koch.notes}}</h4>
	{% endif %}
	<div class="dot-separator"></div>
	<div class="details-time one-half margin15">
		{% if koch.prep_time %}
			<div class="subheader left">
				<div class="small-round-icon-gray left toptooltip" title="Preparation time">
	                <div class="icon-gray-small icon80-gray"></div>
				</div>
				<div class="prep_time left"><h4 class="notopmargin colored">{{koch.prep_time}} min.</h4></div>	
			</div>
		{% endif %}
		{% if koch.cook_time %}
			<div class="subheader left">
				<div class="small-round-icon-gray left  toptooltip" title="Cook time">
	                <div class="icon-gray-small icon78-gray">
					</div>
				</div>
				<div class="cook_time left"><h4 class="notopmargin colored">{{koch.cook_time}} min.</h4></div>
			</div>
		{% endif %}
		{% if koch.level %}
			<div class="subheader left">
				<div class="small-round-icon-gray left toptooltip" title="Level">
	                <div class="icon-gray-small icon243-gray">
					</div>
				</div>
				<div class="level left"><h4 class="notopmargin colored">{{koch.level|title}}</h4></div>
			</div>
		{% endif %}
	</div>
	<div class="one-fourth last rigth notopmargin margin15">
		<div style="margin-top:8px;" class="ajax-like-trigger right">
			{% if not alreadylike %}
				<a href="" title="Do you like?" class="like" data-key="{{koch.key}}">
				{{humanlikes}} Likes
				</a>
			{% else %}	
				<a href="" title="You like this, Click to unlike" class="liked" data-key="{{koch.key}}">
				{{humanlikes}} Likes
				</a>
			{% endif %}
		</div>
	</div>
	<div class="clear"></div>
	<div class="dot-separator margin15"></div>
	<div class="one-fourth left sidebar notopmargin">
		<h3 class="">Ingredients</h3>
		<div class="dot-separator margin15"></div>
		<ul class="list check-list">
			{% for ingredient in koch.ingredients %}
				<li>{{ingredient}}</li>
				<li class="dot-sep"></li>
			{% endfor %}
		<ul>
	</div>
	<div class="one-half last notopmargin">
		<h3 class="">&nbsp</h3>
		<div class="dot-separator margin15"></div>
		{% if koch.photo %}
       		<img class="bordered-img margin10"  src="/image/?img_id={{koch.key}}" alt=" "/>
        {% else %}
        	<img class="bordered-img default"  src="/static/images/default.png" />
    	{% endif %}
    	<div class="clear"></div>
    	{% if koch.tags %}
	    	<div class="dot-separator margin15">
	    		<ul>
		    		{% for tag in koch.tags %}
			    		<li>
				        	<a href="/tag/{{tag|slugify}}" class="tag">
				        		<span class="tag_name">{{tag}}</span>
								<span class="tag_count"></span>
						    </a>
						</li>
	                {% endfor %}	
	    		</ul>
	    	</div>
        {% endif %}
	</div>
	<div class="clear"></div>
	<h3 class="">Directions</h3>
	<div class="dot-separator margin15"></div>
	<div id="" class="">
		{% for direction in koch.directions %}
			<div class="small-round-icon-gray left">
				<div class="icon-gray-small icon209-gray"></div>
			</div>
			<p style="margin-left:45px; text-align:justify; min-height:30px;">{{direction}}</p>
		{% endfor %}	
	</div>
	{% if likesusers %}
		<div class="dot-separator margin15"></div>
		<div class="three-fourth notopmargin">
			<h3>Users who liked this recipe</h3>
			<div class="dot-separator margin15"></div>
			<div class="likes margin15">
				{% for user in likesusers %}
					<div class="left likeuser">
						<a href="/cook/{{user.nickname}}" title="">
							<img src="{{user.avatar}}" class="likeavatar toptooltip" title="{{user.nickname|title}}">
						</a>
					</div><!-- / -->
				{% endfor %}				
			</div>
		</div>	
	{% endif %}
	<!--<div class="dot-separator margin15"></div>
	<div class="three-fourth notopmargin">
		<h3>Comments</h3>
	</div>-->
	<div class="clear"></div>
	<div class="margin15"></div>

{% endblock %}
{% block side_content %}
	{% include "sidebar.html" %}
{% endblock %}