{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}
		<div class="margin30">
        	<h1 class="welcome-home center"><span class="colored">Share</span> &amp; <span class="colored">Discover</span>  recipes</h1>
            <h1 class="welcome-small center">make your kitchen social</h2>
        </div>
        <div id="call-to-action">
            <div class="one-third"></div>
            <div class="one-third center notopmargin">
                <a href="#" title="" class="welcome-small blue-button big-size" id="create-account">Create your Account</a>
            </div>
            <div class="one-third-last"></div>
            <div class="clear"></div>
        </div>
        <div class="margin30 dot-separator"></div>
        <div id="steps" style="margin-top:90px;">
            <div class="one-third notopmargin">
                <div class="centre-line"><h2 class="center back-text">Sign up</h2></div>
            </div>
            <div class="one-third notopmargin">
                <div class="centre-line"><h2 class="center back-text">Write</h2></div>
            </div>
            <div class="one-third notopmargin last">
                <div class="centre-line"><h2 class="center back-text">Share</h2></div>
            </div>    
            <div class="clear"></div>
        </div><!-- /steps -->
        <div class="margin30"></div>
{% endblock%}