{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}

		<div class="one-third margin30">
        	<h1 class="nobottommargin welcome">SOME COOL WORDS</h1>
            <h1 class="notopmargin welcome-small colored">ABOUT KOCHBUCHr</h1>
        </div>
        <div class="two-third margin30 last">
        	<div class="block-left"></div>
            <p class="left welcome-words notopmargin"><span class="bold">Lorem Ipsum</span> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make .a type specimen book.<br/><br/>Lorem Ipsum is simply dummy text of the <a class="link" href="">printing and typesetting industry</a>. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
            <div class="block-right"></div>
        </div>

{% endblock%}