{% extends 'right_bar.html' %}
{% block title %}Make your kitchen social{% endblock %}

{% block css %}
{% endblock css %}

{% block js %}
{% endblock js %}

{% block left_content %}
	<div class="mini-left">
		<ul>
			{% for koch in last_kochs %}
				<li class="toptooltip" style="background:url(/image/?img_id={{koch.key}}&size=thumb-home) 50% 50%" title="{{koch.title}}"></li>	
			{% endfor %}
		</ul>
	</div>
	<div class="mini-slider" style="background:url(/image/?img_id={{fkoch.key}}&size=slider-home) 100% 50% no-repeat">
		
	</div><!-- / -->
	<div class="clear"></div>
	<div class="call2action margin10 shadow">
		<div class="action">
			<h1 class="welcome-home backie">Make your kitchen social</h1>
			<div class="uppercase center">
				<p>If you love cooking and experimenting with new recipes Kochster is the site for you, manage all your recipes from a single site in a simple and easy way.</p>
			</div>
			<div class="margin30 center">
				<a href="#" title="" class="welcome-small action-button big-size" id="create-account">Create your Account</a> 
			</div>
			<div class="clear margin30"></div>
		</div>
	</div>	
{% endblock%}

{% block side_content %}
	<div class="one-fourth sidebar-right last notopmargin">
		<ul>
			{% for user in users %}
				<li title="{{user.nickname}}" class="toptooltip"><a href="/cook/{{user.nickname}}"><img src="{{user.avatar}}"></a></li>
			{% endfor %}
		</ul>
		<div class="clear"></div>
	</div>
{% endblock%}