{% extends 'right_bar.html' %}
{% block title %}{{title}}{%endblock%}
{% block left_content %}
	<h1 class="welcome nobottommargin left">{{title}}</h1>
	{% if subtitle %}<p class="left description"> :: {{subtitle}}</p>{% endif %}
	{% if subhead %}<h4 class="clear colored">{{subhead}}</h4>{% endif %}
	<div class="separator margin15"></div>
    {% if kochs %}
    	{% for koch in kochs %}
    		<div class="three-fourth left margin10">
                <div class="one-fourth margin15">
                    <div class="left">
                    	{% if koch.koch.thumb %}
                    		<a href="/details/{{koch.koch.slug}}">
                    			<img class="bordered-img preview-img img-preview" src="/image/?img_id={{koch.koch.key}}&size=thumb" />
                    		</a>
                    		
                    	{% else %}
                    		<a href="/details/{{koch.koch.slug}}">
                    			<img class="bordered-img" src="/static/images/default-thumb.png" />	
                    		</a>
                    	{% endif %}
                    	
                    </div>
                    <div class="left author left5">
                    	<p class="notopmargin nobottommargin marginb5 ajax-like-trigger">
                    		{% if not koch.alreadylike %}
                    			<a href="" title="Do you like?" class="like" data-key="{{koch.koch.key}}">
                    			{{koch.humanlikes}} Likes
                    			</a>
                    		{% else %}	
                    			<a href="" title="You like this, Click to unlike" class="liked" data-key="{{koch.koch.key}}">
                    			{{koch.humanlikes}} Likes
                    			</a>
                    		{% endif %}
                    		
                    	</p>
    	                {% if koch.koch.level %}
                            <p class="notopmargin nobottommargin marginb5">
                                <span class="strong">Level: </span>
                                {{koch.koch.level|title}}
                            </p>
                        {% endif %}
                        {% if koch.koch.cook_time %}
                            <p class="notopmargin nobottommargin marginb5">
                                <span class="strong">Cook time: </span>
                                {{koch.koch.cook_time}} min.
                            </p>
                        {% endif %}
                        {% if koch.koch.tags %}
                            <p class="small-italic notopmargin nobottommargin marginb5">
                                <span class="strong">Tags: </span>
                                {% for tag in koch.koch.tags %}
                                    <a href="/tag/{{tag|slugify}}" class="link">{{tag}}</a> 
                                {% endfor %}
                            </p>    
                        {% endif %}
                        
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="one-half blog-content last margin15">
                    <h3 class="notopmargin"><a class="link" href="/details/{{koch.koch.slug}}">{{koch.koch.title}}</a></h3>
                    <p class="notopmargin small-italic">by: <a class="link strong" href="/cook/{{koch.koch.author.nickname}}">{{koch.koch.author.nickname|title}}</a> | {{koch.koch.created}}</p>
                    <div class="clear"></div>
                    {% if koch.koch.notes|length %}
                        <p class="notopmargin">{{koch.koch.notes}}</p>
                    {% endif %}
                    <div class="clear"></div>
                </div>
                <div class="three-fourth last dot-separator margin30"></div>
            </div>
    	{% endfor %}
    {% else %}
        <h3>{{author.nickname}} has no published recipes</h3>
    {% endif %}
	{% if next_page %}   
		<a href="?page={{ next_page }}">Next Page</a>   
	{% endif %}   
	   
	{% if prev_page %}   
		<a href="?page={{ prev_page }}">Previous Page</a>   
	{% endif %}   

{% endblock %}

{% block side_content %}
    {% include "sidebar.html" %}
{% endblock %}