{% extends 'right_bar.html' %}
{% block title %}Account Settings{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(function($) {
			$("input[type=file]").change(function(){
				$(this).parents(".uploader").find(".filename").val($(this).val());

			});
			$("input[type=file]").each(function(){
				if($(this).val()==""){
					$(this).parents(".uploader").find(".filename").val("No file selected...");
				}
			});
			$('#changeavatar').click(function(event) {
				event.preventDefault();
				$('#uploadavatar').show();
				$('#actionavatar').hide();
						
			});

			$('#cancelavatar').click(function(event) {
				event.preventDefault()
				$('#uploadavatar').hide();
				$('#actionavatar').show();
			});
					
					
					
					
		});
	</script>
{% endblock%}
{% block css%}
	<link rel="stylesheet" href="/static/css/fakefileinputs.css" />
{% endblock%}

{% block left_content %}
	<h1 class="welcome nobottommargin">Account Settings</h1>
	<h4 class="notopmargin colored">You may change your account settings here.</h4>
	<div class="separator margin15"></div>
	{% if profile_updated %}
		<div class="info-box-green">
			Your account has been updated.
		</div>
	{% endif %}

	{% if profile_fail %}
		<div class="info-box-red">
			{% for error in profile_errors %}
				{{error}}<br>
			{% endfor %}
		</div>
	{% endif %}

	<form action="" method="post" accept-charset="utf-8" id="form_settings">
		<div class="input">
			<label for="nickname"><h5>Username</h5></label>
			<input type="text" name="nickname" value="{{user.nickname}}" readonly="readonly">	
		</div>
		<div class="input">
			<label for="email"><h5>Email</h5></label>
			<input type="email" name="email" value="{{user.email}}">	
		</div>
		<div class="input">
			<label for="passwd"><h5>Change Password</h5></label>
			<input type="password" name="passwd" value="">	
		</div>
		<div class="input">
			<label for="re_passwd"><h5>Re-Enter Password</h5></label>
			<input type="password" name="re_passwd" value="">
		</div>
		<div class="spacer-default"><p></p></div>
		<div class="input">
			<label for="firstname"><h5>First Name</h5></label>
			<input type="text" name="firstname" value="{{user.firstname}}">	
		</div>
		<div class="input">
			<label for="lastname"><h5>Last Name</h5></label>
			<input type="text" name="lastname" value="{{user.lastname}}">	
		</div>
		<div class="input">
			<label for="about"><h5>About You</h5></label>
			<textarea id="about" name="about">{% if user.about|length %}{{user.about}}{% endif %}</textarea>
		</div>
		<div class="input">
			<label for="twitter"><h5>Twitter Username</h5></label>
			<input type="text" name="twitter" value="{{user.twitter}}">	
		</div>
		<div class="input">
			<label for="location"><h5>Location</h5></label>
			<input type="text" name="location" value="{{user.location}}">
		</div>
		<div class="input">
			<label for="location"><h5>&nbsp;</h5></label>
			<input type="submit" class="button black right" value="Save Settings">
		</div>
	</form>
{% endblock %}

{% block side_content %}
	<div class="one-fourth sidebar-right last">
		<h2 class="notopmargin margin10">Your Avatar</h2>
		<div class="separator margin15"></div>
		<div class="margin15">
			<img class="bordered-img left" src="{{avatar}}"/>
			<div class="notopmargin" id="actionavatar">
				<a href="#" class="notopmargin button black right" id="changeavatar">Change</a><br />
			</div><!-- / -->
			<form id="uploadavatar"action="/account/change-avatar" method="post" enctype="multipart/form-data">
				<div class="uploader white margin15">
					<input type="text" class="filename" readonly="readonly" style="width:85px !important	;"/>
					<input type="button" class="button" value="Change Avatar"/>
					<input type="file" name="photo" size="30" id="image_file"/>
				</div>
				<div class="margin15 rigth">
					<a href="#" class="button black rigth margin15" id="cancelavatar">Cancel</a>
					<a href="#" class="button black rigth margin15" id="sendavatar">Upload</a>
				</div>
			</form>	
		</div>
		<div class="clear"></div>
		<div class="separator margin15"></div>		
	</div>
{% endblock %}