{% extends 'two_columns.html' %}
{% block title %}Profile {{user.nickname.title}}{% endblock %}
{% block left_content %}
	<div class="main-title">
		<span><b>Account Settings</b></span>
	</div>
	<h4>You may change your account settings here.</h4>
	{% if profile_updated %}
		<div class="box box-green">
			Your account has been updated.
		</div>
	{% endif %}

	{% if profile_fail %}
		<div class="box box-red">
			{% for error in profile_errors %}
				{{error}}<br>
			{% endfor %}
		</div>
	{% endif %}

	<form action="" method="post" accept-charset="utf-8" id="form_settings">
		<div class="input">
			<label for="nickname"><h5>Username</h5></label>
			<input type="text" name="nickname" value="{{user.nickname}}" readonly="readonly">	
		</div>
		<div class="input">
			<label for="email"><h5>Email</h5></label>
			<input type="email" name="email" value="{{user.email}}">	
		</div>
		<div class="input">
			<label for="passwd"><h5>Change Password</h5></label>
			<input type="password" name="passwd" value="">	
		</div>
		<div class="input">
			<label for="re_passwd"><h5>Change Password</h5></label>
			<input type="password" name="re_passwd" value="">
		</div>
		<div class="spacer-default"><p></p></div>
		<div class="input">
			<label for="firstname"><h5>First Name</h5></label>
			<input type="text" name="firstname" value="{{user.firstname}}">	
		</div>
		<div class="input">
			<label for="lastname"><h5>Last Name</h5></label>
			<input type="text" name="lastname" value="{{user.lastname}}">	
		</div>
		<div class="input">
			<label for="about"><h5>About You</h5></label>
			<textarea id="about" name="about">{% if user.about|length %}{{user.about}}{% endif %}</textarea>
		</div>
		<div class="input">
			<label for="twitter"><h5>Twitter Username</h5></label>
			<input type="text" name="twitter" value="{{user.twitter}}">	
		</div>
		<div class="input">
			<label for="location"><h5>Location</h5></label>
			<input type="text" name="location" value="{{user.location}}">
		</div>
		<div class="input">
			<label for="about"><h5>&nbsp;</h5></label>
			<span style="float:right;"><a class="btn-1 btn-1-color-blue btn-1-align-left" href="#" id="save_settings"><span>Save Settings</span></a></span>
			
		</div>
	</form>
{% endblock %}

{% block sidebar_content %}
	<div class="main-title">
		<span><b>Title SideBar</b></span>
		<a href="#">show all</a>
	</div>
	<div class="real">Contenido Derecho</div><!-- /real -->
	<p class="show-all"><a href="#"><span>Show entire menu card</span></a></p>
{% endblock %}