{% if author and last_kochs%}
	<h4 class="title-back notopmargin"><span>More from {{author.nickname}}</span></h4>
	<div class="side-container">
		{% for koch in last_kochs %}
			<div class="margin15 koch_mini_list">
				<div class="left block">
					<a href="/details/{{koch.slug}}">
	                    {% if koch.thumb %}
							<img class="bordered-img preview-img" src="/image/?img_id={{koch.key}}&size=thumb" />	
						{% else %}
							<img class="bordered-img preview-img" src="/static/images/default-thumb.png" />	
						{% endif %}
					</a>
				</div>
				<div class="rigth">
					<a href="/details/{{koch.slug}}" class="pink small marginb5">
						{{koch.title}}
					</a>
					<div class="right small-italic margin10">
						{{koch.created}}
					</div>	
				</div>
				<div class="clear"></div>
			</div>
			<div class="margin15"></div>		
			<div class="clear"></div>
		{% endfor %}
	</div>
{% endif %}
<div class="clear"></div>
<h4 class="title-back notopmargin"><span>Random recipes</span></h4>
<div class="side-container">
	{% for koch in last_from_all %}
		<div class="margin15 koch_mini_list">
				<div class="left block">
					<a href="/details/{{koch.slug}}">
						{% if koch.thumb %}
							<img class="bordered-img preview-img" src="/image/?img_id={{koch.key}}&size=thumb" />	
						{% else %}
							<img class="bordered-img preview-img" src="/static/images/default-thumb.png" />	
						{% endif %}
					</a>
				</div>
				<div class="rigth">
					<a href="/details/{{koch.slug}}" class="pink small marginb5">
						{{koch.title}}
					</a>
					<div class="right small-italic margin10">
						{{koch.created}}
					</div>	
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
			<div class="margin15"></div>		
			<div class="clear"></div>
	{% endfor %}
</div>
{% if not author %}
	<div class="clear"></div>
	<h3 class="title-back"><span>Spread the word</span></h3>
	<div class="one-fourth sidebar-right last notopmargin">
		<div class="twitter" style="float:left; margin-left:40px;">
			<a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="k0chster">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>	
		</div>
		<div class="facebook" style="float:right;">
			<div class="fb-like" data-send="false" data-layout="box_count" data-width="95" data-show-faces="true"></div>
		</div>
	</div>
<div class="clear"></div>
{% endif %}