<div class=" notopmargin">
	<div class="author-widget">
		<div class="right star-details notopmargin">
			<h4 class="notopmargin link">
				<a href="/cook/{{author.nickname}}" title="">{{author.nickname|title}}</a>
			</h4>
			{% if user %}
				<div class="margin5">
					{% if user.nickname != author.nickname %}
						{% if not alreadyfollow %}
							<div class="ajax-follow-trigger">
								<a href="#" class="follow-button block small-size" data-fan="{{user.key}}" data-star="{{author.key}}">Follow</a>	
							</div>
						{% else %}
							<div class="ajax-follow-trigger">
								<a href="#" class="unfollow-button block small-size" data-fan="{{user.key}}" data-star="{{author.key}}">Unfollow</a>	
							</div>	
						{% endif %}
					{% else %}
						<a href="/account" class="blue-button block small-size">Edit account</a>
					{% endif %}
				</div>
			{% endif %}	
		</div>
		<div>
			<a href="/cook/{{author.nickname}}">
				<img class="left avatar" src="{{avatar}}"/>
			</a>	
		</div>
		<div class="clear"></div>
	</div>
	<div class="followers left">
		<a href="/followers/{{author.nickname}}" class="link"><span class="small">{{author.followers}} Followers</span></a>
	</div>
	<div class="following right">
		<a href="/following/{{author.nickname}}" class="link"><span class="small">{{author.following}} Following</span></a>
	</div>
	<div class="clear"></div>

	{% if is_owner %}
		<div class="margin15">
			<a href="/edit/{{koch.key}}" title="" class="follow-button block">Edit Recipe</a>
		</div><!-- / -->
		<div class="clear"></div>
	{% endif %}

	{% if author.about %}
		<div class="side-container margin15">
			<h4 class="notopmargin center">About the author</h4>
			<p class="notopmargin">{{author.about}}</p>
		</div>
	{% endif %}
	<div class="margin15"></div>
</div>
<div class="clear"></div>