<div class=" notopmargin margin15">
	<div class="author-widget">
		<div class="right star-details notopmargin">
			<h4 class="notopmargin link">
				<a href="/cook/{{author.nickname}}" title="">{{author.nickname|title}}</a>
			</h4>
			{% if user %}
				<div class="margin5">
					{% if user.nickname != author.nickname %}
						{% if not alreadyfollow %}
							<div class="ajax-follow-trigger">
								<a href="#" class="follow-button block small-size" data-fan="{{user.key}}" data-star="{{author.key}}">Follow</a>	
							</div>
						{% else %}
							<div class="ajax-follow-trigger">
								<a href="#" class="unfollow-button block small-size" data-fan="{{user.key}}" data-star="{{author.key}}">Unfollow</a>	
							</div>	
						{% endif %}
					{% else %}
						<a href="/account" class="blue-button block small-size">Edit account</a>
					{% endif %}
				</div>
			{% endif %}	
		</div>
		<div>
			<a href="/cook/{{author.nickname}}">
				<img class="left avatar" src="{{avatar}}"/>
			</a>	
		</div>
		<div class="clear"></div>
	</div>

	<div class="followers left">
		<a href="/followers/{{author.nickname}}" class="link"><span class="strong small">{{author.followers}} Followers</span></a>
	</div>
	<div class="following right">
		<a href="/following/{{author.nickname}}" class="link"><span class="strong small">{{author.following}} Following</span></a>
	</div>
	<div class="clear"></div>

	{% if author.about %}
		<div class="dot-separator margin15"></div>
		<p>{{author.about}}</p>
	{% endif %}
	<div class="dot-separator margin15"></div>
</div>
<div class="clear"></div>

<!--
<p class="pink notopmargin nobottommargin marginb5">
				{{author.followers}} Followers
			</p>
			<p class="pink notopmargin nobottommargin marginb5">
				{{author.following}} Following
			</p>
			{% if author.location %}
				<p class="pink notopmargin nobottommargin marginb5">From: {{author.location}}</p>
			{% endif %}

			<p class="pink nobottommargin marginb5">
				<a href="/cook/{{author.nickname}}">{{author_recipes_count}} Recipes</a>
			</p>
 --> 