<div class="one-fourth notopmargin">
	logo	
</div>

{% if not user %}
	
	<div class="three-fourth-last notopmargin right">
		<a class="btn1 tab04b grey" title="" href="#" id="top-login">Login</a>
		<a class="btn1 tab04b grey" title="" href="#" id="top-register">Register</a>
		<div id="register-form" class="hide">
			<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
				<span id="ui-dialog-title-2" class="ui-dialog-title">Signup to use Kochbuchr</span>
			</div>
			<div class="ui-dialog-content ui-widget-content">
				<div class="logo">logo</div>
				<div class="formright">
					<form target="dont_mind_me" id="login" method="post">
						<input class="input-login" type="text" id="register-username" name="username" placeholder="Username" />
						<input class="input-login" type="email" id="register-email" name="email" placeholder="Email" />
						<input class="input-login" type="password" id="register-password" name="passwd" placeholder="Password" />
					</form>
					<div class="errorwrap"><p class="error-register"></p></div>
				</div>
			</div>  
			<div id="account-buttons" class="ui-dialog-buttonset">
			<!-- LOGIN BUTTONS -->
				<div class="loginbuttons">
					<!--<fb:login-button perms="email" >Login with Facebook</fb:login-button>-->
					<a class="btn tab04b black right" title="" href="#" id="showregistersubmit">Register Now</a>
					<img src='/static/images/ajax-loader.gif' id='account-loader' alt='' />                     
				</div>
			</div>
		</div>

		<div id="login-form" class="hide">
			<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
				<span id="ui-dialog-title-2" class="ui-dialog-title">Login to use Kochbuchr</span>
			</div>
			<form id="login" method="post" action="">
				<div class="ui-dialog-content ui-widget-content">
					<div class="logo">logo</div>
					<div class="formright">
						<input class="input-login" type="text" id="user_login" name="username" placeholder="Username" />
						<input class="input-login" type="password" id="user_pass" name="passwd" placeholder="Password" />
						<input type="hidden" name="redirect_to" value="/" />
						<input type="hidden" name="testcookie" value="1" />                          
						<div class="errorwrap"><p class="error-password"></p></div>
					</div>
				</div>  
				<div id="account-buttons" class="ui-dialog-buttonset">
					<!-- LOGIN BUTTONS -->
					<div class="loginbuttons">
						<p class="pwd"><a id="showforgotpw" href="#">Forgot password?</a></p>
						<a class="btn tab04b black right" title="" href="#" id="loginsubmit">Login</a>
					</div>
				</div>
			</form>
		</div>  
	</div>
{% else %}
	<div class="three-fourth-last notopmargin right">
		<ul id="nav"> 
			<li>
				<a href="/cook/{{user.nickname}}">{{user.nickname.title}}</a> 
				<ul> 
					<li><a href="/profile">Your Profile</a></li> 
					<li><a href="/account">Your Account</a></li> 
				</ul> 
			</li>
			<li><a href="/create">Add Recipe</a> 
			<li><a href="/logout">Logout</a></li> 
		</ul>
	</div>
{% endif %}