<div class="one-fourth logo">
	<h2 class="margin5 whitie">
		<a href="/" title="Home">Kochster</a>
		
	</h2>	
</div>

{% if not user %}
	
	<div class="three-fourth last notopmargin right">
		<ul id="nav" class="right"> 
			<li><a href="#" id="top-login">Login</a></li>
			<li><a href="#" id="top-register">Register</a></li>
			<li {% if current == 'explore' %} class="current" {% endif %}><a href="/explore">Explore</a></li>
		</ul>
		<div id="register-form" class="hide">
			<form id="register-send" method="post" action="">
				<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
					<span id="ui-dialog-title-2" class="ui-dialog-title">Signup to use Kochster</span>
				</div>
				<div class="ui-dialog-content ui-widget-content">
					<div class="logo"></div>
					<div class="formright">
						<input class="input-login login-tooltip" type="text" id="register-username" name="username" placeholder="Username" title="Please choice your username" />
						<input class="input-login login-tooltip" type="email" id="register-email" name="email" placeholder="Email" title="Please enter your email" />
						<input class="input-login login-tooltip" type="password" id="register-password" name="passwd" placeholder="Password" title="Please choice your password" />
						<div class="errorwrap"><p class="error-register"></p></div>
					</div>
				</div>  
				<div id="account-buttons" class="ui-dialog-buttonset">
				<!-- LOGIN BUTTONS -->
					<div class="loginbuttons">
						<fb:login-button scope="user_about_me,email" size="medium"></fb:login-button>
						<input type="submit" class="right blue-button" value="Register Now" />

						<img src='/static/images/ajax-loader.gif' id='account-loader' alt='' />                     
					</div>
				</div>
			</form>
		</div>

		<div id="login-form" class="hide">
			<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
				<span id="ui-dialog-title-2" class="ui-dialog-title">Login to use Kochster</span>
			</div>
			<form id="login-send" method="post" action="">
				<div class="ui-dialog-content ui-widget-content">
					<div class="logo"></div>
					<div class="formright">
						<input class="input-login login-tooltip" type="text" id="user_login" name="username" placeholder="Username" title="Please enter your username"/>
						<input class="input-login login-tooltip" type="password" id="user_pass" name="passwd" placeholder="Password" title="Please enter your password"/>
						<input type="hidden" name="redirect_to" value="/" />
						<input type="hidden" name="testcookie" value="1" />
						<div class="errorwrap"><p class="error-password"></p></div>
					</div>
				</div>  
				<div class="clear"></div>
				<div id="account-buttons" class="ui-dialog-buttonset">
					<!-- LOGIN BUTTONS -->
					<div class="loginbuttons">
						<!--<p class="pwd"><a id="showforgotpw" href="#">Forgot password?</a></p>-->
						<fb:login-button scope="user_about_me,email" size="medium"></fb:login-button>
						<input type="submit" value="Login" class="right blue-button marginb5" />
					</div>
				</div>
			</form>
		</div>  
	</div>
{% else %}
	<div class="three-fourth last notopmargin right">
		<ul id="nav" class="right"> 
			<li {% if user.nickname == author.nickname %} class="current" {% endif %}>
				<a href="/cook/{{user.nickname}}">{{user.nickname.title}}</a> 
				<ul> 
					<li><a href="/cook/{{user.nickname}}">Your Cookbook</a></li> 
					<li><a href="/account">Your Account</a></li> 
					<li><a href="" title="Otro">Otro</a></li>
					
				</ul> 
			</li>
			<li {% if current == 'explore' and user.nickname != author.nickname %} class="current" {% endif %}><a href="/explore">Explore</a></li>
			<li {% if current == 'add' %}class="current" {% endif %}><a href="/create">Add Recipe</a> 
			<li><a href="#" id="logout">Logout</a></li> 
		</ul>
	</div>
{% endif %}